<div class="container">
	<h2>Todo</h2>
	<div ng-controller="TodoListController as todoList">
		<div color-green>{{ todoList.remaining() }} of {{ todoList.todos.length }}
			remaining</div>
		<br/>
		<form ng-submit="todoList.addTodo()" class="form-inline">
			<input type="text" ng-model="todoList.todoText" size="30" placeholder="Add new todo..." required ng-minlength="2" class="form-control"/> 
			<input class="btn btn-primary" type="submit" value="add" />
		</form>
		<br/>
		<input type="text" class="form-control" placeholder="Filter todo..." ng-model="q"/>
		<ul class="list-group">
			<li ng-repeat="todo in todoList.todos | filter:q" class="list-group-item">
				<div class="row">
					<div class="col-1">
						<input type="checkbox"	ng-model="todo.done" ng-change="todoList.update(todo)"/>
					</div>
					<div class="col-10">
						<a ng-href="#/detail/{{ todo.id }}">{{ todo.text }}</a>
					</div>
					<div class="col-1">
						<a href="" ng-click="todoList.delete(todo)" class="btn btn-danger">Delete</a>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>